@media (min-width: 100px) and (max-width: 319px) {    
    .envioGratis > p {
        font-size: 80%;
    }
    .parrafoFooter {
        font-size: 60%;
    }
}

@media (min-width: 320px) and (max-width: 399px) {    
    .envioGratis > p {
    font-size: 15px;
    }
    .parrafoFooter {
        font-size: 60%;
    }
}

@media (min-width: 400px) {
    .parrafoTarjeta {
        margin: 15px;
    }
    .envioGratis > p {
        font-size: 18px;
    }
    .redes {
        width: 100px;
        height: 100px;
    }
    .parrafoFooter {
        font-size: 80%;
    }
}

@media (min-width: 450px) {
    .seccionPresentacion {
        height: 750px;
    }
    #pTarjetachico {
        display: none;
    }
    #pTarjetagrande {
        display: inline-block;
    }
    .envioGratis > p {
        font-size: 20px;
    }
    .textoPresentacion > h1 {
        font-size: 2.8rem;
    }
    .textoPresentacion > h4 {
        font-size: 21px;
    }
    #brInvisible {
        display: inline-block;
    }
}

@media (min-width: 550px) {
    nav ul li a {
        width: 180px;
        padding: 15px;
        font-size: 20px;
    }
    nav ul li {
        display: inline-block;
    }
    .hamburguesa {
        display: none;
    }
    nav ul {
        display: inline-block;
    }
    .parrafoFooter {
        font-size: 15px;
    }
}

@media (min-width: 640px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 33vw);
    }
    #divImagen8 {
        grid-column: 2 / 4;
    }
}

@media (min-width: 655px) {
    .containerTarjetas {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .tarjeta {
        height: 400px;
        width: 400px;
    }
    .contactanos {
        padding: 50px;
    }
}

@media (min-width: 750px) {
    .seccionPresentacion {
        height: 1050px;
    }
}

@media (min-width: 850px) {
    .tarjeta {
        margin: 15px 10px;
        height: 400px;
        width: 300px;
    }
    .parrafoTarjeta {
        margin: 5px;
        padding: 0px 0px 20px 0px;
    }
    .seccionContactanos {
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    form {
        width: 350px;
        height: 470px;
    }
    .seguinos{
        width: 100%;
    }
    .redes {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 950px) {
    .tarjeta {
        margin: 15px;
        height: 400px;
        width: 400px;
    }
    .envioGratis > p {
        font-size: 25px;
    }
    .textoPresentacion > h1 {
        font-size: 3.5rem;
    }
    .textoPresentacion > h4 {
        font-size: 27px;
    }
}

@media (min-width: 1023px) {
    .seccionPresentacion {
        flex-direction: row;
        height: 400px;
    }
    #fotoPresentacion {
        width: 50%;
        height: 100%;
    }
    .textoPresentacion {
        width: 50%;
        height: 100%;
    }
    .textoPresentacion > h1 {
        font-size: 3rem;
    }
    .textoPresentacion > h4 {
        font-size: 20px;
    }
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 27vw);
    }
    #divImagen8 {
        grid-column: 4 / 5;
    }
}

@media (min-width: 1250px) {
    .seccionPresentacion {
        height: 560px;
    }
    .seccionTarjetas{
        margin: 0px;
        padding: 30px 50px 25px 50px;
        width: 100%;
    }
    .containerTarjetas{
        justify-content: space-between;
    }
    .tarjeta {
        margin: 20px 0px;
    }
    #separador2 {
        margin: 25px 50px;
    }
    #separadorH4img {
        margin: 25px 50px 0px 50px;
    }
    #separadorH4hr {
        margin: 0px 50px 25px 50px;
    }
    .contactanos {
        display: flex;
        justify-content: center;
    }
    form {
        width: 400px;
    }
    form > p {
        font-size: 3rem;
    }
    .tituloSeguinos {
        font-size: 3rem;
    }
    .redes {
        width: 150px;
        height: 150px;
        margin: 30px;
    } 
}
